<!--
  --  The login form
  -->

<div id="login-form">
<table>
<tr>
  <td>Username</td>
  <td><INPUT NAME="username" VALUE=""></td>
</tr>
<tr>
  <td>Password</td>
  <td><INPUT NAME="password" VALUE="" TYPE="password"></td>
</tr>

</table>
</div>
